/*start variable*/
:root{
	--main-color:red;
	--section-background:#fcf6ea;


}
/*end variable*/
/*start Global rules*/
*{
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.container{
	padding-left:15px;
	padding-right:15px;
	margin-left:auto;
	margin-right:auto;
}

.clearfix{clear:both;}

/*small*/
@media(min-width:768px){
	.container:{
		width:750px;
	}
}
/*medium*/
@media(min-width:992px){
	.container{
		width:970px;
	}
}
/*large*/
@media(min-width:1200px){
	.container{
		width:1170px;
	}}
/*end global rules*/
/*start component*/

.heading{
	color:#ebeced;
	margin:0px;
	text-align:center;
	font-size:55px;
	font-weight:bold;
	letter-spacing:-3px;
	
}
.heading + p {
    text-align: center;
    margin:-30px 0 0;
    font-size: 20px;
    font-family:Apple Chancery, cursive;
   }
/*end component*/
/*start head*/
.head .container{
    display:flex;
	justify-content:space-between;
    align-items:center;
    text-align:center;
    padding:10px;
}
.head .container .logo{
	width:50px;
}
.head .container .link ul{
	list-style:none;
	padding:10px;	
}
.head .container .link ul li{
	display:inline-block;
	padding:10px;

}
.head .container .link ul a {
	text-decoration:none;
	padding-left:20px;
	font-size:18px;
	color:var(--main-color);
}
/*end head*/
/*start section*/
.section{
	text-align: center;
	padding-top:50px;
	padding-bottom:300px;
	background-image:url("../image/cou.jpg");
	background-size:cover;

}


.section .text h2{
	font-family:monospace;
	letter-spacing:3px;
	font-size:20px;
	font-weight:bold;
}
.section .text p{
	font-style:italic;
	font-size:18px;
	padding-top:10px;
	
}
/*end section*/
/*start our menu*/
.services{
	margin-top:60px;
	padding-top:60px;
	padding-bottom:5px;
	margin-bottom:60px;
	margin-left:60px;
	margin-right:60px;

}
.services .content .about{
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
    grid-gap:30px;
	margin-top:100px;

}
.services .text .image{
	width:100%;
	height:50%;
}
.services .text .info {
	padding-top: 20px;
}
.services .info h2{
	text-align:center;
	font-size:16px;
	font-weight:800;
	color:#777;
	
}
.services .info p{
	font-size:16px;
	line-height:1.8;
	color:#999;
	margin:0px;
	padding:5px;

}
/*end our menu*/
/*start specials*/
.specials {
   margin-top:0px;
	padding-top:10px;
	padding-bottom:10px;
}
.specials .container .content{
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
    grid-gap:60px;
    margin-top:100px;
    background-color:var(--section-background);
    padding-right:50px;
    margin-right:0px;
    margin-left:0px;

}
.specials   .container .content  .col{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:60px;
	
}.specials   .container .content  .col h1{
	font-weight:bold;
	font-size:20px;
	padding-right:60px;
	padding-left:60px;
	
}
.specials .container .content .srv{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	margin-top:30px;
	margin-bottom:30px;
}
.specials .container .content .srv .image1{
	width:150px;
	height:100px;
	margin:10px;
}
.specials .container .content .srv .text{
 padding: 10px;
}

.specials .container .content .srv .text h2{
	font-size:16px;
    font-weight:bold;
}
.specials .container .content .srv .text p{
  font-size:16px;
  color:#777;
  line-height:1.8;
}
.specials .container .content .srv .text span{
	color:var(--main-color);
}

/*end services*/
/*start contact*/
.contact  .container .content{
	padding-top:60px;
	padding-bottom:60px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;

}
.contact  .container .content .text{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin:top:50px;

}
.contact  .container .content .adresse{
     margin:40px;

}
.contact  .container .content  h2{
     font-size:23px;
     font-weight:bold;
     color:var(--main-color);
     margin:15px;
}
	
.contact  .container .content  p{
   font-size:20px;
  color:#333;
  line-height:1.8;

}
.contact .container .content .text .day{
	margin:50px;
}
.contact .container .content .text .times{
	margin:50px;
}
form{
	background-color:var(--section-background);
	margin:0px;
	padding:10px;
	border:1px solid #ccc;
	margin-bottom:20px;
	border-radius:10px;
}
form h1{font-size:20px;
	}
form .formulaire{
     display:flex;
     flex-wrap:wrap;
     margin-bottom:25px;
 }
 form{
 	margin-left:200px;
 	margin-right:200px;
 	padding-right:60px;
 	padding-left:100px;
 }
form .formulaire .boite{
	  margin-top:20px;
	  display:flex;
	  flex-direction:column;

}
form  .formulaire .part1 label{
	margin:10px;
	font-size:18px;
}
 form .formulaire .part1 input{
    border:1px solid #ccc;
    padding: 10px;
 }
 form .formulaire .part2{
 	display:flex;
 	flex-direction:column;
 	text-align: center;
 	 }
form  .formulaire .part2 label{
	  margin:10px;
	  font-size:18px;
	  margin-left:10px;
	  margin-right:10px;
	  margin-top:-15px;
}
form  .formulaire .part2 textarea{
	   padding: 30px;
	   margin: 20px;
	   border:1px solid #ccc;
	   margin-top:100px;
}
form button{
	border-radius:5px;
	margin-left:150px;
	padding:10px;
	border:1px solid #ccc;
}
/*end contact*/
/*start footer*/
.footer{
	background-color:var(--section-background);
	
	padding:20px 0;
	text-align:center;
	overflow:hidden;
}
.footer ul{
	list-style:none;
	padding-left:0;
	margin:10 0 0 ;

}
.footer ul li {
	display:inline-block;
}

.footer p {
	text-align:center;
	color:#333;
	font-size:18px;

}
.footer span{
	color:var(--main-color);
}

.footer .facebook,
.footer .twitter,
.footer .linkdin{
	
	background-color:#0077b5;
	padding: 5px;
	border-radius: 10px;
	margin: 5px;
}
.footer .youtube{
	background-color:#ff0000;
	padding: 5px;
	border-radius: 10px;
	margin: 5px;
	
} 


/*end footer*/ 